body {
    width: 250px;
    padding: 0;
    margin: 0;
    border: 2px solid RGB(42, 46, 47);
    overflow: -moz-hidden-unscrollable;
}

h2,
p,
label {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: RGB(42, 46, 47);
    font-family: "Poppins", sans-serif;
}

h2 {
    font-size: 1.25rem;
    margin: 0.25em 0;
    text-align: center;
}

p {
    text-align: center;
    font-family: "Source Code Pro", monospace;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
}

form {
    width: 100%;
    padding: 1em;
    padding-top: 0;
}

form input {
    font-family: "Source Code Pro", monospace;
    color: RGB(42, 46, 47);
    font-weight: normal;
    margin-top: 0.25em;
    border: none;
    border-bottom: 1px solid RGB(42, 46, 47);
    box-sizing: border-box;
    padding: 0.25em 0;
    outline: none;
    font-size: 0.85rem;
    width: 90%;
}

input::placeholder {
    color: RGB(42, 46, 47);
    opacity: 0.69;
}

button {
    width: 90%;
    padding: 0.5em 0.35em;
    font-size: 1.15rem;
    border: none;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
}

#apply-button {
    background: RGB(42, 46, 47);
    color: RGB(249, 246, 239);
}

#reset-button {
    color: RGB(42, 46, 47);
    background: RGB(249, 246, 239);
    margin-top: 0.5em;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex img {
    margin-right: 0.5em;
}
